@model IMS.Web.UI.Models.ChangePasswordViewModel
@using System.Reflection

<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading"><img alt="@IMSRes.IMSPortal" title="@IMSRes.IMSPortal" src="~/Images/logo.png" class="center" /></div>
        <div class="panel-body">
            <h2>@IMSRes.ChangePassword</h2>
            @using (Html.BeginForm("ChangePassword", "Login", FormMethod.Post, new { @id = "changePasswordForm" }))
            {
                @Html.ValidationSummary(true);
                @Html.ValidationMessage("CustomError")
                @Html.AntiForgeryToken()
                <div class="form-group">
                    @Html.LabelFor(m => m.Username, IMSRes.Login_Username, new { @class = "form-label display-none" })
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @placeholder = IMSRes.Login_Username })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, IMSRes.Login_OldPassword, new { @class = "form-label display-none" })
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = IMSRes.Login_OldPassword, @type = "password" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.NewPassword, IMSRes.Login_NewPassword, new { @class = "form-label display-none" })
                            @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", @placeholder = IMSRes.Login_NewPassword, @type = "password" })
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ConfirmPassword, IMSRes.Login_ConfirmNewPassword, new { @class = "form-label display-none" })
                            @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", @placeholder = IMSRes.Login_ConfirmNewPassword, @type = "password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block">@IMSRes.Login_ChangePassword</button>
                        </div>
            }
        </div>
    </div>
</div>